body {
	background-image: url(../images/light-veneer.png);
}

h2 {
    color: white;
    margin-top: 65%;
    font-family: 'Halant', serif;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
}

img {
    /*	position: relative;*/
    height: auto;
    width: auto;
}

.left {
    margin-top: 15px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 10px;
}

.name {
    font-family: 'Merriweather', serif;
    font-size: 70px;
    /*font-weight: bold;*/
    margin-bottom: 0;
	height: 90px;
}

.text {
    font-family: 'Halant', serif;
    font-size: 18px;
}

.links {
    margin-right: 15px;
}

.icon {
    width: 100%
}

.btn-large {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 18px;
    background-color: #7eaa3c;
    color: black;
    font-weight: bold;
    border-radius: 25px;
}

.btn-large:focus{ 
  background-color: #ffffb3; 
}

.btn-large:hover{ 
  background-color: #ffff4d; 
}

@media only screen and (max-width: 1030px) {
	[class*="name"] {
    	margin-left: 25px;
    	margin-right: 25px;
		height: auto;
    	font-size: 48px;
    }
    [class*="text"] {
    	margin-top: 0;
    	margin-left: 25px;
    	margin-right: 25px;
    	margin-bottom: 10px;
    	font-size: 16px;
    }
    [class*="buttons"] {
    	display: none;
    }
    h2 {
    	font-size: 24px;
    	top: 20%;
    }
}

@media only screen and (max-width: 760px) {
	[class*="text"] {
        display: none;
    }
    [class*="name"] {
    	margin-left: 10px;
    	margin-right: 10px;
    	margin-bottom: 10px;
		height: auto;
    	font-size: 36px;
    }
    [class*="buttons"] {
    	display: none;
    }
    h2 {
    	top: 25%;
    }
}

.interests {
    width: 100%;
}

.center {
    text-align: center;
    margin-top: 25px;
}
    

